@import url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

#header{
	background-color:#500000;
	height:140px;
	margin-top:12px ;
}

#info{
	height:140px; 
	background-color:white;
	margin-left:70px;
    color:#500000;
 
}

#thanks{
    height:140px; 
	background-color:#500000;
	margin-left:85px;
}

#thankyou{
    color:white;
    font-size:150%;
    margin-top:50px;
    margin-right:160px; 
    float:right;
}

#footer{
	background-color:#500000;
	height:60px;
	margin-top:15px;
	margin-bottom:15px;
}

.weblink:link{
    text-decoration:none;
    color:white;
}

.weblink:visited{
    text-decoration:none;
    color:#00CC00;
}

.weblink:hover{
    text-decoration:underline;
    color:#0066FF;
}

.weblink:active{
    text-decoration:underline;
    color:white;
}

.mylinks{
	width:0;
	height:0;
	border-top: 100px solid #A00000;
	border-right: 100px solid transparent;
	float:left;
	margin-right:10px;
	margin-left:19px;
	margin-top:15px;
}

.mylink:link{
	background-color:#500000;
}

.mylinks:visited{
	background-color:#FFFFFF ; 
}

.mylinks:hover{
	background-color:#A00000;
}

#rightbar{
	float:right;
	height:444px;
	margin-top:15px;
	background-color:#A00000; 
}